@font-face {
    font-family: 'Grimpt Brush Rust';
    src: url('Grimpt-BrushRust.eot');
    src: local('Grimpt Brush Rust'), local('Grimpt-BrushRust'),
        url('Grimpt-BrushRust.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-BrushRust.woff2') format('woff2'),
        url('Grimpt-BrushRust.woff') format('woff'),
        url('Grimpt-BrushRust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Print Light Rust';
    src: url('Grimpt-PrintLightRust.eot');
    src: local('Grimpt Print Light Rust'), local('Grimpt-PrintLightRust'),
        url('Grimpt-PrintLightRust.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-PrintLightRust.woff2') format('woff2'),
        url('Grimpt-PrintLightRust.woff') format('woff'),
        url('Grimpt-PrintLightRust.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Brush Alt Rust';
    src: url('Grimpt-BrushAltRust.eot');
    src: local('Grimpt Brush Alt Rust'), local('Grimpt-BrushAltRust'),
        url('Grimpt-BrushAltRust.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-BrushAltRust.woff2') format('woff2'),
        url('Grimpt-BrushAltRust.woff') format('woff'),
        url('Grimpt-BrushAltRust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Brush Alt';
    src: url('Grimpt-BrushAlt.eot');
    src: local('Grimpt Brush Alt'), local('Grimpt-BrushAlt'),
        url('Grimpt-BrushAlt.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-BrushAlt.woff2') format('woff2'),
        url('Grimpt-BrushAlt.woff') format('woff'),
        url('Grimpt-BrushAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Print';
    src: url('Grimpt-PrintBold.eot');
    src: local('Grimpt Print Bold'), local('Grimpt-PrintBold'),
        url('Grimpt-PrintBold.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-PrintBold.woff2') format('woff2'),
        url('Grimpt-PrintBold.woff') format('woff'),
        url('Grimpt-PrintBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Brush';
    src: url('Grimpt-Brush.eot');
    src: local('Grimpt Brush'), local('Grimpt-Brush'),
        url('Grimpt-Brush.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-Brush.woff2') format('woff2'),
        url('Grimpt-Brush.woff') format('woff'),
        url('Grimpt-Brush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Print Bold Rust';
    src: url('Grimpt-PrintBoldRust.eot');
    src: local('Grimpt Print Bold Rust'), local('Grimpt-PrintBoldRust'),
        url('Grimpt-PrintBoldRust.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-PrintBoldRust.woff2') format('woff2'),
        url('Grimpt-PrintBoldRust.woff') format('woff'),
        url('Grimpt-PrintBoldRust.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Print';
    src: url('Grimpt-PrintLight.eot');
    src: local('Grimpt Print Light'), local('Grimpt-PrintLight'),
        url('Grimpt-PrintLight.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-PrintLight.woff2') format('woff2'),
        url('Grimpt-PrintLight.woff') format('woff'),
        url('Grimpt-PrintLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Print';
    src: url('Grimpt-PrintRegular.eot');
    src: local('Grimpt Print'), local('Grimpt-PrintRegular'),
        url('Grimpt-PrintRegular.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-PrintRegular.woff2') format('woff2'),
        url('Grimpt-PrintRegular.woff') format('woff'),
        url('Grimpt-PrintRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Print Rust';
    src: url('Grimpt-PrintRegularRust.eot');
    src: local('Grimpt Print Rust'), local('Grimpt-PrintRegularRust'),
        url('Grimpt-PrintRegularRust.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-PrintRegularRust.woff2') format('woff2'),
        url('Grimpt-PrintRegularRust.woff') format('woff'),
        url('Grimpt-PrintRegularRust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Script';
    src: url('Grimpt-Script.eot');
    src: local('Grimpt Script'), local('Grimpt-Script'),
        url('Grimpt-Script.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-Script.woff2') format('woff2'),
        url('Grimpt-Script.woff') format('woff'),
        url('Grimpt-Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grimpt Script Rust';
    src: url('Grimpt-ScriptRust.eot');
    src: local('Grimpt Script Rust'), local('Grimpt-ScriptRust'),
        url('Grimpt-ScriptRust.eot?#iefix') format('embedded-opentype'),
        url('Grimpt-ScriptRust.woff2') format('woff2'),
        url('Grimpt-ScriptRust.woff') format('woff'),
        url('Grimpt-ScriptRust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

